.work-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  

  .example {
    background-size: 110%;
    box-sizing: border-box;
    min-height: 54vw;
    overflow: hidden;
    padding-bottom: 52.7%;
    position: relative;
    width: 100%;
    transition: all 0.2s ease-in-out;
    

    @media screen and (min-width: 425px) {
      min-height: 27vw;
      padding-bottom: 26.35%;
      width: 50%;
    }

    @media screen and (min-width: 768px) {
      min-height: 17vw;
      padding-bottom: 17.5666666667%;
      width: 33.333333333%;
    }

    &:hover,
    &:focus {
      background-size: 105%;

      p {
        bottom: 0;
      }

      .example-link-left {
        top: 0;
        left: 0;
      }

      .example-link-right {
        top: 0;
        right: 0;
      }
    }
  }

  p {
    background: transparentize($blue, 0.2);
    bottom: -200px;
    box-sizing: border-box;
    color: lighten($blue, 50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    padding: 0.8em 0.4em;
    position: absolute;
    text-align: center;
    transition: .3s;
    width: 100%;
  }
}
.example-link {
  color: #4d6b92;
  font-size: 2.5em;
  padding: 0.2em;
  position: absolute;
  text-decoration: none;
  top: -46px;
  transition: all .3s ease-out;
}

.example-link-left {
  left: -46px;
}

.example-link-right {
  right: -46px;
}

.react-boiler {
  a {
    left: 50%;
    transform: translateX(-50%)
  }

  &:hover > a,
  &:focus > a {
    top: 0;
    left: 50%;
  }
}

.iOS-Fallback {
  background-size: 105%;

  p {
    bottom: 0;
  }

  .example-link-center {
    top: 0;
    left: 50%;
  }

  .example-link-left {
    top: 0;
    left: 0;
  }

  .example-link-right {
    top: 0;
    right: 0;
  }
}
