.sw-portfolio {
  background: url('../img/sw-port-sm.png') center center no-repeat;
}

.twitter-cms {
  background: url('../img/twitter_sm.jpg') center center no-repeat;
}

.game {
  background: url('../img/gerald-sm.jpg') center center no-repeat;
}

.tic-tac {
  background: url('../img/tic-tac-sm.jpg') center center no-repeat;
}

.benny {
  background: url('../img/benny-sm.jpg') center center no-repeat;
}

.chat-app {
  background: url('../img/chat-sm.jpg') center center no-repeat;
}

.react-boiler {
  background: url('../img/react-boiler.jpg') center center no-repeat;
}